<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./index.css" rel="stylesheet">
</head>

<body>
  <div className="log">
    <h1>10.1.18.56 /var/log/nova/nova-api.log</h1>
    <div id="content/var/log/nova/nova-api.log"></div>
    <h1>10.1.18.56 /var/log/nova/nova-manage.log</h1>
    <div id="content/var/log/nova/nova-manage.log"></div>
    <h1>10.1.18.56 /var/log/nova/nova-cert.log</h1>
    <div id="content/var/log/nova/nova-cert.log"></div>
    <h1>10.1.18.56 /var/log/nova/nova-novncproxy.log</h1>
    <div id="content/var/log/nova/nova-novncproxy.log"></div>
    <h1>10.1.18.56 /var/log/nova/nova-compute.log</h1>
    <div id="content/var/log/nova/nova-compute.log"></div>
    <h1>10.1.18.56/var/log/nova/nova-consoleauth.log</h1>
    <div id="content/var/log/nova/nova-consoleauth.log"></div>
    <h1>10.1.18.56/var/log/nova/nova-scheduler.log</h1>
    <div id="content/var/log/nova/nova-scheduler.log"></div>
    <script src="https://cdn.bootcss.com/socket.io/1.7.4/socket.io.min.js"></script>
    <script src="./index.js"></script>
</body>

</html>